{% extends base.html %}

{% block title %}
  Home
{% end %}

{% block content %}
  <body>
    <h1>CS194 Final Project</h1>
    <h2>Karthik Jagadeesh and Michael Chang</h2>
    <div class="section">
      <h2>Data Sources</h2>
      We got our data sources from <a href="http://data.seattle.gov">http://data.seattle.gov</a>
      <ul>
        <li><a href="http://data.seattle.gov/Fire/Seattle-Real-Time-Fire-911-Calls/kzjm-xkqj">Seattle Real Time Fire 911 Calls</a></li>
        <li><a href="http://data.seattle.gov/Crime/Seattle-Police-Department-911-Incident-Response/3k2p-39jp">Seattle Police Department 911 Incident Response</a></li>
        <li><a href="http://data.seattle.gov/Community/My-Neighborhood-Map/82su-5fxf">Neighborhood Map</a></li>
      </ul>
    </div>

    <div class="section">
      <h2>Visualizations</h2>
      <ul>
        <li><a href="/heatmap">Heatmap</a></li>
      </ul>
    </div>

    <div class="section">
      <h2>Regression</h2>
    </div>

    <div class="section">
      <h2>Data Product</h2>
    </div>

    <div class="section">
      <h2>Code</h2>
    </div>

    <div class="section">
      <h2>Articles</h2>
      <ul>
        <li>
          <a href="https://docs.google.com/document/pub?id=146lpqaj4PDRPDrOfGhZ8BSbUN4LyCVuRX9gGM2i_K4c">Journal</a>
        </li>
        <li>
          <a href="https://docs.google.com/document/pub?id=18NGWVpq2VnEPqTsImWY4nKJfb6xYoPhrWZvBJtqAx4g">Paper</a>
        </li>
    </ul>
    </div>
  </body>

{% end %}

