{% extends base.html %}

{% block title %}
  Pie Charts
{% end %}

{% block local_css %}
  <style type="text/css">
    #fig { width: 600px; height: 600px }
  </style>
{% end %}

{% block local_js %}
  <script type="text/javascript" src="{{ static_url("protovis-3.2/protovis-r3.2.js") }}"></script>
{% end %}

{% block content %}
  <body>
    <div id="fig">
    <script type="text/javascript+protovis">
      function drawVis(neighborhood_data) {

        /* Get the necessary data */
        var features;
        for (datum in neighborhood_data) {
          var feature = datum[0][8];
        }
        /* Sizing and scales. */
        var w = 400,
            h = 400,
            r = w / 2,
            a = pv.Scale.linear(0, pv.sum(data)).range(0, 2 * Math.PI);

        /* The root panel. */
        var vis = new pv.Panel()
            .width(w)
            .height(h);

        /* The wedge, with centered label. */
        vis.add(pv.Wedge)
            .data(data.sort(pv.reverseOrder))
            .bottom(w / 2)
            .left(w / 2)
            .innerRadius(r - 40)
            .outerRadius(r)
            .angle(a)
            .event("mouseover", function() this.innerRadius(0))
            .event("mouseout", function() this.innerRadius(r - 40))
          .anchor("center").add(pv.Label)
            .visible(function(d) d > .15)
            .textAngle(0)
            .text(function(d) d.toFixed(2));

        vis.render();
      }

      /* Fetch Data from Server (Synchronously?) */
      var features;
      var req = new XMLHttpRequest();
      req.open('GET', 'data/neighborhood_features_counts.json', false);
      req.send(null);
      if (req.status == 200) {
         console.log(req.responseText);
         features = eval('(' + req.responseText + ')');
         // console.log(features.Landmarks);
         drawVis(features);
      }
      else
        console.log("Error loading page\n");
    </script>
    </div>
  </body>
{% end %}
