{% extends base.html %}

{% block title %}
  Wordles
{% end %}

{% block local_js %}
{% end %}

{% block content %}
  <body>
    <h1>Wordles</h1>
    <h2>Neighborhood Features</h2>
    <a href="http://www.wordle.net/show/wrdl/3443769/Seattle_Attractions" 
              title="Wordle: Seattle Attractions"><img
              src="http://www.wordle.net/thumb/wrdl/3443769/Seattle_Attractions"
              alt="Wordle: Seattle Attractions"
              style="padding:4px;border:1px solid #ddd"></a>
  </body>
{% end %}
