{% extends base.html %}

{% block title %}
  Wordles
{% end %}

{% block local_js %}
{% end %}

{% block content %}
  <body>
    <h1>Wordles</h1>
    <h2>Neighborhood Features</h2>
    <a href="http://www.wordle.net/show/wrdl/3447540/Seattle_Neighborhood_Features" 
             title="Wordle: Seattle Neighborhood Features"><img
             src="http://www.wordle.net/thumb/wrdl/3447540/Seattle_Neighborhood_Features"
             alt="Wordle: Seattle Neighborhood Features"
             style="padding:4px;border:1px solid #ddd"></a>
    <h2>Crime Types</h2>
    <a href="http://www.wordle.net/show/wrdl/3513912/Crime_Types" 
             title="Wordle: Crime Types"><img
             src="http://www.wordle.net/thumb/wrdl/3513912/Crime_Types"
             alt="Wordle: Crime Types"
             style="padding:4px;border:1px solid #ddd"></a>
  </body>
{% end %}
